{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/paginas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_page.css' %}">
{% endblock %}

{% block content %}
<div class="contacto-layout">
    <div class="contacto-info">
        <h2 class="page-titulo">{{ page.title }}</h2>

        {% if page.intro %}
            <div class="page-intro">
                {{ page.intro|richtext }}
            </div>
        {% endif %}
    </div>

    <div class="contacto-form-wrapper">
        {% if messages %}
            <div class="success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form class="contacto-formulario" action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
