body {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}
