{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-areapage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/area_page.css' %}">
{% endblock %}

{% block content %}
  <h2 class="area-titulo">{{ page.titulo }}</h2>

  {% if page.descripcion %}
    <div class="area-descripcion">{{ page.descripcion|richtext }}</div>
  {% endif %}

  <div class="productos-grid">
    {% for producto in page.productos %}
      {% include_block producto %}
    {% endfor %}
  </div>
{% endblock %}
