{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productopage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/producto_page.css' %}">
{% endblock %}

{% block content %}
  <h2 class="producto-titulo">{{ page.titulo }}</h2>

  {% if page.descripcion %}
    <div class="pagina-descripcion">{{ page.descripcion|richtext }}</div>
  {% endif %}

  <div class="imagenes-grid">
    {% for elemento in elementos %}
      <div class="imagen">
        <a href="{{ elemento.url }}">
          {% if elemento.imagen %}
            {% image elemento.imagen width-800 alt=elemento.alt_imagen %}
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
  <nav class="navegacion-productos">
    {% with producto_anterior=page.get_producto_anterior producto_siguiente=page.get_producto_siguiente %}
      {% if producto_anterior %}
        <a href="{{ producto_anterior.url }}" id="producto-anterior" class="producto-anterior">
          ← {{ producto_anterior.titulo }}
        </a>
      {% endif %}
      {% if producto_siguiente %}
        <a href="{{ producto_siguiente.url }}" id="producto-siguiente" class="producto-siguiente">
          {{ producto_siguiente.titulo }} →
        </a>
      {% endif %}
    {% endwith %}
  </nav>
{% endblock %}
