{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-elementopage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/elemento_page.css' %}">
{% endblock %}

{% block content %}
  <div id="elemento-layout" class="elemento-layout">

    {% if page.tipo == "imagen" %}
      {% if page.thumbnail %}
        <div id="elemento-imagen" class="elemento-media elemento-imagen">
          {% image page.imagen width-1600 as img_full %}
          {% image page.imagen width-800 as img_preview %}
          <img
            src="{{ img_preview.url }}"
            data-full="{{ img_full.url }}"
            data-width="{{ img_full.width }}"
            data-height="{{ img_full.height }}"
            alt="{{ page.alt_thumbnail }}"
            id="elemento-img-preview"
            class="elemento-img-preview"
          >
        </div>
      {% endif %}

    {% elif page.tipo == "video" %}
      <div id="elemento-video" class="elemento-media elemento-video">
        {% if page.tipo == "video" and page.get_youtube_embed_id %}
        <iframe
            src="https://www.youtube.com/embed/{{ page.get_youtube_embed_id }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            referrerpolicy="strict-origin-when-cross-origin"
        ></iframe>
        {% elif page.contenido_url %}
          {% embed page.contenido_url %}
        {% elif page.thumbnail %}
          {% image page.thumbnail width-1600 %}
        {% endif %}
      </div>

    {% elif page.tipo == "audio" %}
      <div id="elemento-audio" class="elemento-media elemento-audio">
        {% if page.contenido_url %}
          <audio src="{{ page.contenido_url }}" controls>
            Tu navegador no soporta el elemento de audio.
          </audio>
        {% elif page.thmbnail %}
          {% image page.thumbnail width-800 %}
        {% endif %}
      </div>

    {% elif page.tipo == "texto" %}
      <div id="elemento-texto" class="elemento-media elemento-texto">
        {% if page.contenido_texto %}
          {{ page.contenido_texto|safe }}
        {% elif page.contenido_url %}
          <iframe src="{{ page.contenido_url }}" width="100%" height="600" frameborder="0">
            Tu navegador no soporta iframes.
          </iframe>
        {% elif page.thumbnail %}
          {% image page.thumbnail width-1000 %}
        {% endif %}
      </div>

    {% endif %}

    <div id="elemento-info" class="elemento-info">

      <h2 id="elemento-titulo" class="elemento-titulo">
        {% if page.titulo %}{{ page.titulo }}{% else %}Sin título{% endif %}
      </h2>


      {% if page.descripcion %}
        <div id="elemento-descripcion" class="elemento-descripcion">{{ page.descripcion|richtext }}</div>
      {% endif %}

      {% if page.comentarios %}
        <div id="elemento-comentarios" class="elemento-comentarios">
          {% for bloque in page.comentarios %}
            <div class="elemento-comentario">{% include_block bloque %}</div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/elemento_viewer.js' %}"></script>
<script>elementoViewer.init();</script>
{% endblock %}
